html {
    font-family: Roboto, sans-serif;
    scroll-behavior: smooth;
    line-height: 22px; 
}
.nav {
    max-width: 900px;
    margin: 0 auto;
}
a {
    text-decoration: none;
}

.cv {
    max-width: 900px;
    margin: 0 auto;
}

footer {
    text-align: center;
}

.nav-link {
    transition: .3s;
    padding: 0 22px;
    line-height: 50px;

  }

h1 {
    color: cornflowerblue;
    margin-bottom: 0.25em;
     }

h2 {
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 1em;
}
h3 {
    margin-left: 1em;
}

.contact {
    display: flex;
    margin-left: 1em;
}
.contacts {
    margin-left: 1em;
}
.start {
    margin-left: 1em;
}
.contact_type  {
    min-width: 90px;
    }
.courses_tag {
    display: flex;
}
.course_status {
    margin-left: 1em;
}
    .nav-list {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        list-style: none;
        border: 3px dashed rgb(0, 0, 0);
        background-color: rgb(98, 186, 179);
      }
.cv {
    border: 2px dotted rgb(0, 0, 0);
}

